table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 25%;
}

.error {
  color: red;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.notification {
  color: blue;
}
