@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

body {
  padding: 50px;
}
main {
  width: 80%;
  margin: 0 auto;
}

.fa-eye {
  margin-right: 5px;
}
